DB_HOST: localhost
DB_USER: postgres
DB_POOL: 10
DB_PASSWORD:

test:
  RAILS_ENV: test
  DB_NAME: sauron_test
  SIDEKIQ_POLL_INTERVAL: 5
  SIDEKIQ_REDIS_URL: redis://localhost:6379
  WAIT_INTERVAL_FOR_CONTAINER_OPERATIONS: 15

development:
  RAILS_ENV: development
  DB_NAME: sauron_development
